/* generales */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

    /* Header / footer genericos */

ul,
ol {
  padding-left: 0;
}

ul,
ol,
div {
  list-style: none;
}
ul a,
ol a,
div a {
  text-decoration: none;
}

/* carousel */
.carousel h2 {
  margin: 0 auto;
  background-color: #000;
  color: #fff;
  font-size: 1.2em;
}

/* header */
.menu {
  background-color: #000;
}
.menu .menu-titulo {
  height: 160px;
  background-color: #fff;
  display: flex;
  place-content: center;
  place-items: center;
}
.menu .menu-titulo h1 {
  height: 80px;
  margin-left: 5%;
  display: flex;
  align-items: center;
  color: #333;
  font-size: 3em;
  font-family: "Kaushan Script", sans-serif;
}
.menu .menu-titulo img {
  width: 100px;
  height: 100px;
}
.menu .menu__caja {
  height: 40px;
}
.menu .menu__caja ul {
  display: flex;
  flex-direction: row;
}
.menu .menu__caja ul li {
  padding: 8px;
  height: 40px;
  font-size: 1em;
  font-weight: bold;
}
.menu .menu__caja ul li:hover {
  background-color: #c2c2c2;
}
.menu .menu__caja ul li a {
  color: #fff;
}

footer {
    color: #fff;
    background-color: #000;
  }
  footer .redes p {
    font-size: 1em;
  }
  footer .redes i {
    color: white;
    font-size: 1.5em;
  }
  footer .redes i:hover {
    color: #c2c2c2;
    transform: scale(1.3);
  }
  footer .ubicacion p {
    margin-right: 10px;
    font-size: 1em;
  }
  footer .ubicacion i {
    font-size: 1.5em;
  }
  footer .pago i {
    font-size: 1.5em;
  }
  footer .autor {
    font-size: 0.7em;
  }
  
  .titulo {
    color: #000000;
    font-size: 1.5em;
    font-weight: bold;
    padding: 1em;
    text-align: center;
    margin: 15px auto;
  }

  /* whatsapp */
.whatsapp a {
  position: fixed;
  bottom: 50%;
  right: 1em;
}
.whatsapp a i {
  color: black;
  font-size: 50px;
}
.whatsapp a i:hover {
  color: #2ed86f;
  transform: scale(1.3);
}

  /* Pagina Productos */


  #nuestros-productos {
    height: 1600px;
  }
  
  #contenedor-productos {
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4%;
    margin: 0 auto;
  }
  
  #contenedor-productos .card-productos {
    margin: 0 auto;
    background-color: red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #contenedor-productos .card-productos div {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: solid #000 1px;
  }
  
  #contenedor-productos .card-productos div .producto-marca,
  #contenedor-productos .card-productos div .producto-nombre,
  #contenedor-productos .card-productos div .producto-precio {
    margin: 4px auto;
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
  }
  
  #contenedor-productos .card-productos div .producto-marca {
    color: #c2c2c2;
  }
  #contenedor-productos .card-productos div .producto-nombre {
    color: #000;
  }
  
  #contenedor-productos .card-productos div .producto-precio {
    color: orange;
  }


  /* Pagina Formulario */

.main-img {
    display: flex;
    align-items: center;
    justify-content: left ;
    background: url(../img/contact.jpeg);
    background-size: cover;   
    padding: 1% 0;
}

.form {
    width: 50%;
    background-color: #ffffff;
    padding: 1% 2% 2.5% 2.5%;
    border-radius: 30px;
    margin-left: 5%;
    
}

.title, .subtitle {
    text-align: center;
    margin: 15px;
}

.form-inputs-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 0.5fr 0.35fr repeat(2, 1fr) 0.5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.nombre-grid { 
    grid-area: 1 / 1 / 2 / 2; 

}
.apellido-grid { 
    grid-area: 1 / 2 / 2 / 3; 

}
.nacimiento-grid { 
    grid-area: 1 / 3 / 2 / 4; 

}
.genero-grid { 
    grid-area: 2 / 1 / 3 / 4; 

}
.contacto-grid { 
    grid-area: 3 / 1 / 4 / 4;
    margin-top: 40px;
    margin-bottom: 20px; 

}
.email-grid { 
    grid-area: 4 / 1 / 5 / 2; 

}
.conf-email-grid { 
    grid-area: 4 / 2 / 5 / 4; 

}
.tel-grid { 
    grid-area: 5 / 1 / 6 / 2; 

}
.provincia-grid { 
    grid-area: 5 / 2 / 6 / 3; 

}
.direccion-grid { 
    grid-area: 5 / 3 / 6 / 4; 

}
.terminos-grid { 
    grid-area: 6 / 1 / 7 / 3; 

}
.boton-grid { grid-area: 6 / 3 / 7 / 4; 
    display: flex;
    justify-content: center;

}

.genero-flex {
    display: flex;
    justify-content: space-around;
    width: 45%;
    padding: 10px;
}
.boton-contact {
    padding: 20px 60px;
    background-color: #B20303;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 500;
    font-size: large;

}
.boton:hover {
    background-color: #b20303da;
}
.boton:active {
    background-color: #b20303da;
}

#nombre, #apellido, #f-nac, #email, #conf-email, #tel, #direccion {
    width: 90%;
    height: 40%;
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
    font-size: medium;
}

#provincia {
    width: 90%;
    height: 40%;
    border-radius: 10px;
    margin-top: 5px;
    font-size: medium;
}



/* MediaQuerys */





.container{
    width: 100%;
    background-color: green;
}
.container .hero{
    width: 100%;
}

/* dispositivos chicos */
@media screen and (max-width:673px) {
  .menu .menu-titulo h1 {
    font-size: 2em;
  }
  .menu .menu-titulo img {
    width: 80px;
    height: 80px;
  }
  #nuestros-productos {
    height: 4500px;
  }
  #contenedor-productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #contenedor-productos .card-productos {
    margin: 4%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .nosotros {
    font-size: 1.4em;
  }  

  .form {
    width: 80%;    
  }

  .form-inputs-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    }
    
    .nombre-grid { grid-area: 1 / 1 / 2 / 2; }
    .apellido-grid { grid-area: 2 / 1 / 3 / 2; }
    .nacimiento-grid { grid-area: 3 / 1 / 4 / 2; }
    .genero-grid { grid-area: 4 / 1 / 5 / 2; }
    .contacto-grid { grid-area: 5 / 1 / 6 / 2; }
    .email-grid { grid-area: 6 / 1 / 7 / 2; }
    .conf-email-grid { grid-area: 7 / 1 / 8 / 2; }
    .tel-grid { grid-area: 8 / 1 / 9 / 2; }
    .provincia-grid { grid-area: 9 / 1 / 10 / 2; }
    .direccion-grid { grid-area: 10 / 1 / 11 / 2; }
    .terminos-grid { grid-area: 11 / 1 / 12 / 2; }
    .boton-grid { grid-area: 12 / 1 / 13 / 2; }
}

/* dispositivos medianos */
@media screen and (min-width:673px) and (max-width:990px) {
  #contenedor-productos {
    width: 70%;
    grid-template-columns: 1fr 1fr;
  }
  #nuestros-productos {
    height: 2500px;
  }

  .form {
    width: 80%;
}
}

/* dispositivos grandes */
@media screen and (min-width: 991px) and (max-width: 1296px) {
  #contenedor-productos {
    width: 70%;
    grid-template-columns: 1fr 1fr;
  }
  #nuestros-productos {
    height: 2500px;
  }

  .form {
    width: 80%;
}
}

/* dispositivos extra grandes */
/* Monitor Eze */
@media screen and (min-width: 1297px) {
}



  /* Pagina Nosotros */
  .container-nosotros {
    margin: 10px auto;
    width: 80%;
  }
  .container-nosotros ol {
    list-style-type: space-counter;
    padding-left: 40px;
    margin: 20px 0;
  }
  .container-nosotros ul {
    list-style-type: space-counter;
    padding-left: 40px;
    margin: 20px 0;
    font-size: 1em;
  }

  .container-desc{
    display: flex;
    justify-content: center;
  }

  .container-desc img {
    max-width: 600px;
  }

  .container-desc img:first-child {
    padding-right: 10px;
  }

  .container-desc img:last-child {
    padding-left: 10px;
  }

  .container-desc p {
    display: inline;
    vertical-align: top;
    font-size: 1em;
    text-align: left;
  }

  .container-nosotros h3{
    margin: 20px 0;
  }