<!DOCTYPE html>
<html lang="es">
	<head>
		{% include '_modulo_head.html' %}
	</head>
	<body>
		{% include '_modulo_header_carrousel.html' %}

		{% include '_modulo_header_logo.html' %}

		{% include '_modulo_menu.html' %}

		<!-- CONTENIDO DE LA PÁGINA -->
		<main>
			<div>
				<h2 class="titulo-b">Nuestros Productos</h2>
			</div>

			<!-- productos -->
			<div id="nuestros-productos">
				<div id="contenedor-productos"></div>
			</div>
		</main>
		<!-- FIN CONTENIDO DE LA PÁGINA -->


		{% include '_modulo_whatsapp.html' %}

		{% include '_modulo_footer.html' %}

		{% include '_modulo_js_front.html' %}
	</body>
</html>